* {
  box-sizing: border-box;
  background-color: #4369b2;
  color: white;
  font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 768px) {
  * {
    background-color: #ec4c8a;
  }
}
